<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Medication Schedule</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/patients" >Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="medSchedules$ | async as medSchedules">
    <ion-item class="ion-padding" style="--ion-padding:10px">
      <h4 class="ion-padding-horizontal" style="--ion-padding: 4px">Today's Med Schedule for {{medSchedules.patient.firstName}} {{medSchedules.patient.lastName}}</h4>
    </ion-item>
  <ion-card *ngFor="let medSchedule of medSchedules.medicineSchedules">
    <ion-card-header>
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-card-title>{{ medSchedule.medicineDto.brandName }}</ion-card-title>
        <ng-container [ngSwitch]="medSchedule.medAdministrationLog.medAdminStatus">
          <ion-button *ngSwitchCase="-1" size="default" fill="clear" (click)="presentSkippedAlert(medSchedule)" class="ion-no-margin ion-no-padding" style="--padding-end: 0; --padding-start: 0;" color="danger">
            <ion-icon size="default" name="close-outline"></ion-icon>
            <ion-label class="ion-padding" style="--ion-padding-horizontal:5px">Skipped</ion-label>
          </ion-button>
          <ion-button *ngSwitchCase="0" size="default" fill="clear" (click)="presentPendingAlert(medSchedule)" class="ion-no-margin ion-no-padding" style="--padding-end: 0; --padding-start: 0;" color="warning">
            <ion-icon size="default" name="list-outline"></ion-icon>
            <ion-label class="ion-padding" style="--ion-padding-horizontal:5px">Pending</ion-label>
          </ion-button>
          <ion-button *ngSwitchCase="1" size="default" (click)="presentDoneAlert(medSchedule)" fill="clear" class="ion-no-margin ion-no-padding" style="--padding-end: 0; --padding-start: 0;" color="success">
            <ion-icon size="default" name="checkmark-outline"></ion-icon>
            <ion-label class="ion-padding" style="--ion-padding-horizontal:5px">Done</ion-label>
          </ion-button>
        </ng-container>
      </ion-row>
      <ion-card-subtitle style="font-size: medium">{{ medSchedule.medicineDto.genericName }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-chip color="tertiary">
          <ion-label>
            Color: {{medSchedule.medicineDto.color}}
          </ion-label>
          <ion-icon name="ellipse" [style.color]="medSchedule.medicineDto.color"></ion-icon>
        </ion-chip>
        <ion-chip color="secondary">Form: {{ medSchedule.medicineDto.form}}</ion-chip>
        <ion-chip color="dark">Administration Method: {{medSchedule.medicineDto.administrationMethod}}</ion-chip>
      </ion-row>
        <ion-chip color="primary">
          <ion-icon name="medical-outline"></ion-icon>
          <ion-label>Dosage: {{medSchedule.medicineScheduleBase.dosage}}</ion-label>
        </ion-chip>

        <ion-chip color="secondary">
          <ion-icon name="time-outline"></ion-icon>
          <ion-label>
            Time: {{medSchedule.medicineScheduleBase.timeCategory}}
          </ion-label>
        </ion-chip>

      <ion-chip color="warning">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>
          Duration: {{medSchedule.medicineScheduleBase.start | date:'dd.MM.yyyy'}} - {{medSchedule.medicineScheduleBase.end | date:'dd.MM.yyyy'}}
        </ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

    <ng-container *ngIf="medSchedules.medicineSchedules.length === 0">
      <div class="animation-container">
        <img src="./assets/icon/puppy.png" alt="no content"/>
      </div>
    </ng-container>


  </ng-container>
</ion-content>
