ion-content {
  position: relative; /* Make the content container relative for absolute positioning */
}

#add-button {
  position: absolute; /* Make the button absolute for positioning */
  bottom: 30px; /* Set the bottom position from the viewport */
  right: 30px; /* Set the right position from the viewport */
  z-index: 999; /* Set a high z-index to ensure the button is always on top */
}

