<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Medicines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['add-medicine']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="container">
    <ion-searchbar placeholder="Search patients" [formControl]="searchControl"></ion-searchbar>
    <ion-card *ngFor="let medicine of filteredMedicinesWithEffects$ | async ">
      <ion-card-header>
        <ion-card-title>{{ medicine.brandName }}</ion-card-title>
        <ion-card-subtitle style="font-size: medium">{{ medicine.genericName }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          <ion-chip color="tertiary">
            <ion-label>
              Color: {{medicine.color}}
            </ion-label>
            <ion-icon name="ellipse" [style.color]="medicine.color"></ion-icon>
          </ion-chip>
          <ion-chip color="secondary">Form: {{ medicine.form}}</ion-chip>
          <ion-chip color="dark">Administration Method: {{medicine.administrationMethod}}</ion-chip>
        </ion-row>
      </ion-card-content>
      <ion-row class="ion-float-right">
        <ion-button fill="clear">
          <ion-icon size="large" name="warning-outline" color="warning"></ion-icon>
        </ion-button>

        <ion-button fill="clear">
          <ion-icon size="large" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="deleteMedicine(medicine.brandName, medicine.genericName)">
          <ion-icon size="large" name="trash-outline" style="color: #AF6057"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-card>
  </div>
</ion-content>

